.nav-link {
  font-family: monospace;
  font-size: 20px;
  color: white;
}
.navbar-brand {
  font-family: "Lobster", monospace;
  font-size: 40px;
  color: white;
}
.container {
  padding-top: 2cm;
  font-family: monospace;
}
